.App {
  text-align: center;
}
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
a{
  color:inherit;
  text-decoration: none;
}

ul{
  margin:0;
  margin-block-start: 0;
  padding-inline-start: 0;
}